<h1>Fjälluniversitetet</h1>
<h2>Kurser</h2>
<div>
    <input type="text" [(ngModel)]="searchTerm" (input)="filterCourses()" placeholder="Sök...">          <!--ngModel binder inputs-värde till searchTerm. filterCourses anropas vid input.-->
  </div>

  <div>
    <select [(ngModel)]="subjectSearchTerm" (change)="filterCoursesBySubject()" placeholder="Välj ämne">
      <option value="">Välj ämne</option>
      <option *ngFor="let subject of uniqueSubjects" [value]="subject">{{ subject }}</option>           <!--Fyller select-boxen med ämnen från uniqueSubjects-arrayen-->
    </select>
    <p>Totalt antal kurser: {{ getTotalCourses() }}</p>
  </div>

  <div class="sort-buttons">
    <button (click)="sortTable('courseCode')">Kurskod</button>
    <button (click)="sortTable('courseName')">Kursnamn</button>
    <button (click)="sortTable('points')">Poäng</button>
    <button (click)="sortTable('subject')">Ämne</button>
  </div>

  <table id="courseTable">
    <thead>
      <tr>
        <td class="headlineClick"  (click)="sortTable('courseCode')">Kurskod</td>              
        <td class="headlineClick"  (click)="sortTable('courseName')">Kursnamn</td>
        <td class="headline"  >Nivå</td>
        <td class="headline"  >Progression</td>
        <td class="headlineClick"  (click)="sortTable('points')">Poäng</td>
        <td class="headlineClick"  (click)="sortTable('subject')">Ämne</td>
        <td class="headline"  >Kursplan</td>
      </tr>
      </thead>
<tbody>
        <tr *ngFor="let course of filteredCourses">   <!--loopar igenom variabeln filteredCourses för filtrering av sökning-->
        <td data-label="Kurskod">{{ course.courseCode }}</td>
        <td data-label="Kursnamn">{{ course.courseName }}</td>
        <td data-label="Nivå">{{ course.level }}</td>
        <td data-label="Progression">{{ course.progression }}</td>
        <td data-label="Poäng">{{ course.points }}</td>
        <td data-label="Ämne">{{ course.subject }}</td>
        <td data-label="Kursplan"><a [href]="course.syllabus" target="_blank">Kursplan</a></td>
          <!--Läggger till knapp till varje kurs--> 
          <button (click)="addToSchedule(course)">Lägg till</button>               

        </tr>                                                                                                                            
      </tbody>
</table>


   

  
  