<h1>Fjälluniversitetet</h1>
<h2>Kurser</h2>
<div>
    <input type="text" [(ngModel)]="searchTerm" (input)="filterCourses()" placeholder="Sök...">          <!--ngModel binder inputs-värde till searchTerm. filterCourses anropas vid input.-->
  </div>

  <div>
    <input type="text" [(ngModel)]="subjectSearchTerm" (input)="filterCoursesBySubject()" placeholder="Välj ämne">
    <p>Totalt antal kurser: {{ getTotalCourses() }}</p>
  </div>

  <table id="courseTable">
    <thead>
        <td class="headline"  (click)="sortTable('courseCode')">Kurskod</td>              
        <td class="headline"  (click)="sortTable('courseName')">Kursnamn</td>
        <td class="headline"  (click)="sortTable('level')">Nivå</td>
        <td class="headline"  (click)="sortTable('progression')">Progression</td>
        <td class="headline"  (click)="sortTable('points')">Poäng</td>
        <td class="headline"  (click)="sortTable('subject')">Ämne</td>
        <td class="headline"  (click)="sortTable('syllabus')">Kursplan</td>


        <tr *ngFor="let course of filteredCourses">   <!--loopar igenom variabeln filteredCourses för filtrering av sökning-->
          <td> {{ course.courseCode }}</td>
          <td> {{ course.courseName }}</td>            
          <td> {{ course.level }}</td>            
          <td>{{ course.progression }}</td>
          <td>{{ course.points }}</td>
          <td>{{ course.subject }}</td>
          <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td>         
          <button (click)="addToSchedule(course)">Lägg till ramschemat</button>                                 <!--Läggger till knapp till varje kurs-->
        </tr>
      </thead>
</table>


   

  
  