<h1>Fjälluniversitetet</h1>
<h2>Kurser</h2>
<div>
    <input type="text" [(ngModel)]="searchTerm" (input)="filterCourses()" placeholder="Search...">          <!--ngModel binder inputs-värde till searchTerm. filterCourses anropas vid input.-->
  </div>
  <div *ngFor="let course of filteredCourses">                                                              <!--ngFor itererar över värdena i filteredCourses-->
    <p>{{ course.courseCode }} - {{ course.courseName }}</p>                                                <!--För varje kurs i filteredCourses skapas ett <p>-element-->
  </div>