h1{
    text-align: center;
    margin-top:2em;
}

div{
    margin-bottom:2em;
    border-bottom:1px solid black;
    max-width:100%;
}

button{
    border-radius:10px;
    background-color: #3ed5ff;
    box-shadow:2px 2px 5px black;
    cursor: pointer;
    padding: 15px;
    font-weight:bold;
    margin-top:1em;
    margin-bottom:1em;
    max-width:100%;
    width:8em;
}

button:active{
background-color: #2486a1;
}


input[type="text" i]{
    margin-bottom:1em;
}

select{
  width:13em;
}

.headline{
  font-weight: bold;
}

.headlineClick{
  font-weight:bold;
  cursor:pointer
}
#courseTable {
  width: 100%;
  max-width:100%;
  border-collapse: collapse;
}

#courseTable th, #courseTable td {
  border-bottom: 1px solid #ddd;
  padding: 3px;
  text-align: left;
}

#courseTable th {
  background-color: #f2f2f2;
  cursor: pointer;
}

.sort-buttons {
  display: none;
}

@media only screen and (max-width: 600px) {
  .sort-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    max-width:100%;
  }
  #courseTable thead {
    display: none;
  }
  #courseTable tbody, #courseTable tr, #courseTable td {
    display: block;
    width: 85%;
    max-width:100%
  }
  #courseTable tr {
    margin-bottom: 10px;

  }
  #courseTable td {
    text-align: right;
    padding-left: 25%;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  #courseTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .sort-buttons {
    display: flex;
    gap:1em;
    margin-bottom: 10px;
    max-width:100%;
  }
  #courseTable thead {
    display: none;
  }
  #courseTable tbody, #courseTable tr, #courseTable td {
    display: block;
    width: 85%;
    max-width:100%
  }
  #courseTable tr {
    margin-bottom: 10px;

  }
  #courseTable td {
    text-align: right;
    padding-left: 25%;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  #courseTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
}