body{
    max-width:968px;
    height:auto;
    margin:0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    line-height:1.2em;
    background-image: url("./assets/background.jpg");
    background-size: cover; 
    background-repeat:no-repeat;
}

